.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 576px) {

  .header,
  .filter-section {
    flex-direction: column;
    justify-content: center;
    order: 1;
  }



}

.filter-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
  flex-grow: 1;
  padding-top: 10px;
}

.display-style-btns {

  /* margin: 10px 0; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
  padding: 16px 0;
  border-radius: 5px;
}

.display-style-btns button {
  color: var(--primary-color);
  border: none;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.display-style-btns button mat-icon {
  font-size: 30px;
}

.display-style-btns button:hover {
  color: var(--secondary-color);
}

.active-btn {
  color: var(--secondary-color);
}

.sort-btn i {
  font-size: 25px;
}

::ng-deep .mat-tooltip {
  font-size: 15px;
  white-space: pre;
}
