<div class="header">
  <div *ngIf="filters" class="filter-section">
    <mat-form-field
      class="example-full-width"
      appearance="outline"
      *ngFor="let filterInput of filters"
    >
      <mat-label>Filter By {{ filterInput.field }}</mat-label>
      <input
        type="text"
        matInput
        autocomplete="off"
        [(ngModel)]="filterInput.value"
      />
    </mat-form-field>
    <button (click)="applyFilter()" mat-raised-button color="primary">
      Apply
    </button>
  </div>
  <div class="display-style-btns">
    <i class="far fa-sort"></i>
    <button
      type="button"
      class="sort-btn"
      (click)="sort()"
      matTooltip="Sort by Name and Office"
    >
      <i class="fas fa-sort" *ngIf="activeSortDirection === ''"></i>

      <i
        class="fas fa-sort-amount-down"
        *ngIf="activeSortDirection === 'asc'"
      ></i>
      <i
        class="fas fa-sort-amount-up"
        *ngIf="activeSortDirection === 'desc'"
      ></i>
    </button>
    <button
      type="button"
      id="grid-active-btn"
      (click)="toggleActiveLayout('grid')"
      matTooltip="Grid View"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="grid view"
        [ngClass]="{ 'active-btn': activeLayout === 'grid' }"
        >grid_on</mat-icon
      >
    </button>
    <button
      type="button"
      id="details-active-btn"
      (click)="toggleActiveLayout('list')"
      matTooltip="List View"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="list view"
        [ngClass]="{ 'active-btn': activeLayout === 'list' }"
        >list</mat-icon
      >
    </button>
  </div>
</div>
