.item-list {
  margin: 36px 0px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 32px;
}

.item {
  /* temp border */
  border:1px solid black;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 4px 0 rgba(15, 4, 4, 0, 05);
  transition: all 0.3s ease-out;
}

.item:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px 1px rgba(0, 4, 4, 0.15);
}

/* styling for details active */
.details-active.item-list {
  grid-template-columns: 100%;
}

.details-active .item {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
}

@media screen and (min-width: 678px) {
  .item-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
  }
}

@media screen and (min-width: 768px) {
  .item-list {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .details-active .item {
      grid-template-columns: 100%;
  }
}
